@charset "UTF-8";

@media screen and (max-width:599px){
    header {
    width: 100vw;
    flex-flow: column wrap;
    justify-content: space-between;
    
}
    header h1 {
        flex: 0 0 75px;
    }

    header nav {
        margin: 0px;
        width: 90vw;
        flex-flow: column nowrap;
        gap: 4px;
        align-self: center;
        
}

    #icone {
        display: initial;
    }

    header nav a {
        font-size: 1em;
        padding: 8px;
        flex: 1 1 10px;
    }

    main {
        width: 100vw;
}
}
