@charset "UTF-8";

.container {
    background-color: rgb(83, 0, 217);
    width: 80vw;
    height: 300px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}

.itens {
    background-color: rgb(233, 110, 1);
    width: 150px;
    border: 1px solid black;
}

.container1 {
    background-color: rgb(83, 0, 217);
    width: 80vw;
    height: 300px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
}

.itens1 {
    background-color: rgb(233, 110, 1);
    width: 150px;
    height: 50px;
    border: 1px solid black;
}